.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  margin-left: 48px;
  transition: opacity 0.1s linear;
  align-self: start;
  text-decoration: none;
}

.khan__buy-link:hover {
  opacity: .7;
}
